<html>
	<head>
		<link rel="stylesheet" href="/css/publca.css" type="text/css" media="screen, projection">	
	    <title>{{title}}</title>
		</script>
	<title value="Publca">Publca</title>
	</head>

	<div class="container">
	
	<a href="/"><h1  >Publ.<span class="invisible">i&nbsp;</span>ca</h1></a>
	<div class="ornament"></div>

	<form action="/create" class="form" method="post">
	
		<label for="title_form">Title</label> <br>
		<input class="input" type="text" name="title_form"> <br><br><br>
			
		<label for="author_form">Author</label><br>
		<input class="input" type="text" name="author_form"> <br><br><br>
	  
		<label for="email_form">Email</label> <br>
		<input class="input email" title="Enter an email address to send this publication.  Email addresses are not stored so don't worry" type="text" name="email_form"> <br><br><br>
		
		<label for="content_form">Text</label>  <br>
		<textarea name="content_form"></textarea>   <br><br><br>

	
		<input type="submit" value="Publish">
		<br>
		<br>
	</form>

	</div>

</html>