<html>
	<head>
		<link rel="stylesheet" href="/css/publca.css" type="text/css" media="screen, projection">	
	    <title>{{title}}</title>
		<script src="{{willetJS}}" type="text/javascript"></script>
		<title value="Publca">Publca</title>
	</head>

	<div class="landingcontainer">
		<a href="/"><h1  >Publ.<span class="invisible">i&nbsp;</span>ca</h1></a>
		<div class="ornament"></div>
		<h3 ><a class="getstarted" onclick="willet({ id: '{{willetOfferId}}', open_in: 'new' })" href="#" >Get Started</a> </h3>
		<div class="ornament"></div>
		<img class="form" width="400px" src="http://i.imgur.com/xKzps.gif"/>
		<div class="ornament"></div>
		<h1 class="landingtitle" >Simple and Beautiful Web Publishing</h1>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		<div class="ornament"></div>
		<h3 ><a href="https://github.com/robee/Publ.ca">See Publ.ca on Github</h3>
		<div class="ornament"></div>
		
	</div>
	<br>
	<br>
	
	

</html>